mixin subscribe()
  .subscribe&attributes(attributes)
    h3.title-big.subscribe__title Подпишись на рассылку и получай подборку лучших материалов на почту
    button.btn-icon.btn-icon--full.subscribe__btn-email(data-fancybox="" data-src="#modal-subscribe") Оставьте ваш email
      svg.btn-icon__icon-m-right(width="37", height="8")
        use(href="img/symbols.svg#icon-arrow")
