mixin modal-thanks
  +modal({
      id: 'modal-thanks',
  }).modal-subscribe
    .modal__body.modal-subscribe__center
      h3.modal-subscribe__title.modal-subscribe__m-0 Вы успешно подписались на рассылку новостей
