mixin modal-subscribe
  +modal({
    id: 'modal-subscribe',
  }).modal-subscribe
    .modal__body.modal-subscribe__body
      h3.modal-subscribe__title Прямо сейчас...
      .modal-subscribe__desc
        p Редакторы Вечной молодости готовят полезную и интересную почтовую рассылку. Вы можете получить ее, если оставите свою почту.
      +form-send({
        btnText: "Подписаться",
        btnClass: 'btn--main',
        inputAttr: {
          placeholder: 'Введите Email',
          'data-type': 'email',
          'data-required': ''
        }
      }).js-form
        .form-send__warning.js-accordion
          p.form-send__warning-text Нажимая «Подписаться» я соглашаюсь с пользовательским соглашением
          .form-send__warning-content
            p Пользователь согласен на получение информационных сообщений, связанных с сайтом и/или тематикой сайта, персонализированных сообщений и/или рекламы, которые могут направляться по адресу электронной почты, указанному пользователем при регистрации на сайте.
            p Пользователь вправе в любое время и по любой причине отказаться от получения информационных сообщений путем нажатия на ссылку, содержащуюся в каждом информационном сообщении.
