.main-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 600px;
  padding-top: 170px;
  padding-bottom: 38px;

  color: $white;
  background-color: #343A40;
  background-image: url("../img/decor/bg-main.jpg");
  background-size: cover;
  background-position: center;

  @media (min-width: $screen-xl) {
    padding-top: 100px;
    padding-bottom: 88px;
  }

  .swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 101px;
    gap: 10px;

    @media (min-width: $screen-xl) {
      justify-content: flex-start;
      margin-top: 43px;
    }
  }

  .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background: $white;
  }
}

.main-news__title {
  margin-bottom: 24px;
}

.main-news__row {
  color: #E5E5E5;

  @media (min-width: $screen-xl) {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding-right: 50px;
  }
}

.main-news__data {
  @include typo7;
  display: block;
  margin-bottom: 8px;

  @media (min-width: $screen-xl) {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 1px;
      margin-left: 16px;
      background-color: currentColor;
    }
  }

}

.main-news__desc {
  @include typo5;

  p {
    margin: 0;
  }
}

.main-news__content {
  max-width: 644px;
}

.main-news__blockquote {
  position: absolute;
  top: 92px;
  left: 15px;
  right: 0;
  //margin-bottom: 137px;
  max-width: 217px;
  width: 100%;
}

.main-news__blockquote-wrap {
  display: inline;
  p {
    display: inline;
    margin: 0;
  }
}
