include ../blocks/components/logo/logo
include ../blocks/components/sidebar/sidebar
include ../blocks/components/subscribe/subscribe
include ../blocks/components/form/form
include ../blocks/components/modal/modal
include ../blocks/components/navigation/navigation
include ../blocks/components/breadcrumbs/breadcrumbs
include ../blocks/components/form-send/form-send
include ../blocks/components/sort/sort
include ../blocks/components/title-wrap/title-wrap
include ../blocks/components/pagination/pagination
include ../blocks/components/link-evt/link-evt
include ../blocks/components/similar/similar
include ../blocks/components/promo-banner/promo-banner

include ../blocks/components/tab-filter/tab-filter
include ../blocks/components/field-text/field-text
include ../blocks/components/burger/burger
include ../blocks/components/news/news
include ../blocks/components/search-form/search-form
include ../blocks/components/partners/partners
include ../blocks/components/socials/socials
include ../blocks/components/tags-list/tags-list
include ../blocks/components/main-news/main-news


include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug

include ../blocks/modal/modal-menu/modal-menu.pug
include ../blocks/modal/modal-menu/modal-search.pug
include ../blocks/modal/modal-subscribe/modal-subscribe.pug
include ../blocks/modal/modal-subscribe/modal-thanks.pug
include ../blocks/modal/modal-subscribe/modal-alert.pug
