-
  const nav = [
    {
      href: "#",
      text: 'Новости',
      subMenu: [

      ]
    },
    {
      href: "#",
      text: 'Науки о жизни',
      subMenu: [
        {
          href: "#",
          text: 'Биомедицина',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Биоэтика',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Генетика',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Генная инженерия',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Геронтология',
          subSubMenu: [
            {
              href: "#",
              text: 'Новое в геронтологии',
            },
            {
              href: "#",
              text: 'Продление молодости',
            },
            {
              href: "#",
              text: 'Теория старения',
            }
          ]
        },
        {
          href: "#",
          text: 'Другие науки о жизни',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Клеточные технологии',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Клонирование',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Нанотехнологии',
          subSubMenu: []
        },
        {
          href: "#",
          text: 'Нобелевские лауреаты',
          subSubMenu: []
        },
      ]
    },
    {
      href: "#",
      text: 'Ваше здоровье',
      current: true,
      subMenu: [

      ]
    },
    {
      href: "#",
      text: 'Инновации',
      subMenu: [

      ]
    },
    {
      href: "#",
      text: 'Спорное',
      subMenu: [

      ]
    },
  ]

-
  const copyrightFooter = [
    "Электронное СМИ зарегистрировано 12.03.2009",
    "Свидетельство о регистрации Эл № ФС 77-35618",
    "2005-2022 © vechnayamolodost.ru"
  ]

-
  const socials = [
    {
      href: 'https://www.instagram.com/vechnayamolodost.ru/',
      src: 'img/symbols.svg#icon-instagram'
    },
    {
      href: 'https://www.facebook.com/groups/EternalYouthFoundation/',
      src: 'img/symbols.svg#icon-facebook'
    },
    {
      href: '#',
      src: 'img/symbols.svg#icon-mail'
    },
    {
      href: '#',
      src: 'img/symbols.svg#icon-rss'
    },
  ];

-
  const partners = [
    {
      alt: 'Сенатор',
      href: 'http://www.senator.spb.ru/',
      src: 'img/content/logo-senator.svg'
    },
    {
      alt: 'ООО "Ай Вао"',
      href: 'http://ivao.com/',
      src: 'img/content/logo-vao.svg'
    },
    {
      alt: 'Vitacoin',
      href: 'http://vitacoin.net/',
      src: 'img/content/logo-vitacoin.svg'
    },
    {
      alt: 'vsh25',
      href: 'https://vsh25.net/',
      src: 'img/content/logo-vsh.svg'
    },
    {
      alt: 'vitaspace',
      href: 'http://www.vechnayamolodost.ru/articles/vystavki-i-konferentsii/regenerativnaya-meditsina/',
      src: 'img/content/logo-vitaspace.svg'
    },
  ]

-
  const footerNav = [
    [
      "Новости",
      "Науки о жизни",
      "Ваше здоровье",
      "Инновации"
    ],
    [
      "Спорное",
      "Здоровый скепсис",
      "Разное",
      "Условия цитирования"
    ]
  ]

-
  const listTag = [
    {
      text: 'Бад'
    },
    {
      text: 'Биоэтика'
    },
    {
      text: 'ВИЧ'
    },
    {
      text: 'Генотерапия'
    },
    {
      text: 'Инженерия'
    },
    {
      text: 'Лимфоциты'
    },
    {
      text: 'Лечение'
    },
    {
      text: 'Псевдолекарства'
    },
    {
      text: 'Рак'
    },
    {
      text: 'Эволюция'
    },
    {
      text: 'Биоэтика'
    },
    {
      text: 'Биоэтика'
    },
    {
      text: 'ВИЧ'
    },
    {
      text: 'Генотерапия'
    },
    {
      text: 'Лечение'
    },
    {
      text: 'Псевдолекарства'
    },
  ]

-
  const listTabFilter = [
    {
      text: 'Все',
      active: true,
      filter: 'all'
    },
    {
      text: 'Статьи',
      filter: 'articles'
    },
    {
      text: 'Новости',
      filter: 'news'
    }
  ]

-
  const listBanner = [
    "Что такое клеточная терапия и сделает ли она человека бессмертным",
    "Как вылечить старение?",
    "Почему невозможно создать сверхчеловека?"
  ]

-
  const bannerSidebar1 = [
    "promo-banner-4.jpg",
    "promo-banner-1.jpg",
    "promo-banner-5.jpg"
  ]

-
  const bannerSidebar2 = [
    "promo-banner-1.jpg",
    "promo-banner-2.jpg",
    "promo-banner-3.jpg"
  ]
