.promo-banner {
  @include ul-none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $screen-xl) {
    gap: 24px;
  }
}

.promo-banner__link {
  color: inherit;
  text-decoration: none;
  display: block;

  img {
    width: 100%;
  }
}
