// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color: hsl(0, 0%, 10%) !default;

.breadcrumbs {
  @include typo7;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  color: $text-color;

  @media (min-width: $screen-xl) {
    margin-bottom: 64px;
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.breadcrumbs__item {
  display: inline-block;
  margin-right: 1px;
  white-space: nowrap;

  &:last-child {
    color: $color-main;
  }

  &:not(:last-child):after {
    content: '/';
    display: inline-block;
    margin-left: 1px;
    color: $gray;
  }
}
