extends pug/layout.pug

block meta
  title Список страниц
block header
  +page-header()
block content
  main
    fieldset
      ul
        li
          a(href='/') Главная
        li
          a(href='rubric.html') Рубрика
        li
          a(href='search.html') Поиск
        li
          a(href='search-tag.html') Поиск по тегу
        li
          a(href='all-news.html') Все новости
        li
          a(href='all-article.html') Все статьи
        li
          a(href='404.html') 404
block footer
  +page-footer()
