extends pug/layout.pug

block globalVars
  - const maxTag = 3;
  - const maxSidebarBannerLength = 0;
  - const subscribeClass = 'd-none d-xl-block';

block meta
  title Остановить старость
block header
  +page-header()
block main-content

block inside-container
  +breadcrumbs()
    +breadcrumbs-item('Главная', 'index.html')
    +breadcrumbs-item('Статьи', '#')
    +breadcrumbs-item('Спорное', '#')
    +breadcrumbs-item('Остановить старость')

block content
  .main-content__container
    article.text-content.main-content__text-content
      span.text-content__data 28 декабря 2021
      h1.main-content__title.text-content__title Остановить старость
      figure
        img(src="img/content/picture.jpg" alt="unsplash.com")
        figcaption Фото: unsplash.com
      //-p
      //-  img(src="img/content/picture.jpg" alt="unsplash.com")
      //-  i Фото: unsplash.com
      p Большинство болезней имеют генетический компонент. Чтобы лучше понять болезни и здоровье, исследователи во главе с Институтом медицинских исследований Гарвана анализируют генетическую информацию, сообщает пресс-релиз Researchers uncover the genomics of health.
      p Впервые в мире команда собрала справочную базу данных геномов тысяч здоровых пожилых австралийцев, которая имеет потенциал для более точного предсказания связанных с болезнью вариантов генов, чем это было возможно ранее.
      p Исследователи проанализировали первые 2570 геномов из Медицинского банка геномов (MGRB) и опубликовали полученные результаты в журнале Nature Communications (Pinese et al., The Medical Genome Reference Bank contains whole genome and phenotype data of 2570 healthy elderly).
      p «Проведя всесторонний анализ здоровых людей, мы сможем получить более четкое представление о том, какие гены связаны с заболеваниями, а какие нет. Банк геномов обеспечит идеальную основу для будущих исследований генома в Австралии», – говорит он. Профессор Дэвид Томас – руководитель темы исследований рака Гарвана и директор онкологического центра Кингхорн.
      p
        span Основа здорового старения
          br
          | Каждый человек имеет в своем геноме около 6 миллиардов «букв» ДНК, которые кодируют всю информацию, необходимую для создания и запуска каждой клетки в организме. Между любыми двумя несвязанными людьми существуют миллионы различий или вариаций в одной букве.
      p Различия отличают нас от других, но некоторые из них могут вызывать болезни – задача исследователей состоит в том, чтобы точно определить, какие именно гены их вызывают.
      p Авторы настоящей статьи публикуют геномные данные о 2570 здоровых пожилых австралийцах (от 64 до 95 лет), у которых не было рака, сердечно-сосудистых или нейродегенеративных заболеваний до достижения возраста не менее 70 лет.
      blockquote «Это исследование дает ученым гораздо более статистически мощную основу для выявления новых вариантов генов, вызывающих заболевания, – говорит профессор Томас. – Например, когда мы проанализировали геномы пациентов с раком простаты, мы обнаружили, что использование MGRB в качестве «системы контроля» дало нам на 25% более высокую прогностическую силу связанных с болезнью вариантов генов, чем другая база данных генома, которая обычно используется исследователями для поиска».
      p Определение биологического возраста по ДНК
        br
        | Используя секвенирование всего генома, исследователи смогли обнаружить генетические изменения, связанные со старением, включая более короткие теломеры – «крышки» на концах хромосом – и меньшее количество митохондриальной ДНК, которая кодирует генераторы энергии клеток. Интересно, что исследователи обнаружили, что количество митохондриальной ДНК было связано с более сильным рукопожатием у мужчин.
      p «Мы смогли обнаружить изменения в геномах, связанных с различиями в физической форме между здоровыми пожилыми людьми одного возраста. Это указывает на то, что ДНК в образце крови индивидуума может обеспечить лучший показатель их биологического возраста, чем их хронологический возраст, – говорит профессор Томас.
      p «Способность определять биологический возраст может лучше прогнозировать состояние здоровья людей. По мере старения населения понимание генетической основы здорового старения становится все более и более важным», – говорит профессор Томас.
      p Первый выпуск данных доступен для исследователей через платформу Vectis. После завершения исследования Банк геномов будет содержать геномные данные более 4000 пожилых австралийцев.
    .main-content__link-evt
      +link-evt({
        svg: 'icon-warning',
        text: 'Нашли опечатку? Выделите её и нажмите ctrl + enter '
      }).d-none.d-xl-flex
      +link-evt({
        svg: 'icon-print',
        text: 'Версия для печати'
      })(href="#")
    +tags-list({
      tagLinkTag: 'a',
      list: listTag,
      length: 6
    }).main-content__tags-list
    +form-send({
      btnText: "Подписаться",
      btnClass: 'btn--main',
      title: 'Подписаться на рассылку:',
      inputAttr: {
        placeholder: 'Введите Email',
        'data-type': 'email',
        'data-required': ''
      }
    }).js-form.main-content__subscribe
    +similar

block sidebar
  .sidebar__news-interest
    h3.sidebar__news-interest-title Вам также может быть интересно:
    .swiper.js-news-slider
      .swiper-wrapper
        - for (let i = 0; i < 4; i++)
          .swiper-slide
            +news({
              title: 'Куда смотрят старики?',
              data: '28 декабря 2021',
              text: 'Ученые из Ливерпульского университета использовали тест движения глаз, чтобы улучшить понимание того, как работают отделы мозга при старении. '
            }).news--interest
      .swiper-pagination.d-xl-none

block footer
  +page-footer()
